// ---------------------------------------------
// Bloque principal: Feature
// Estilos para el bloque de feature/modal.
// Incluye layout, animaciones y elementos visuales.
// ---------------------------------------------
@use '../abstracts/' as *;

// Feature structure 

.showFeature {
  opacity: 0;
  z-index: 1000;
  transition: all 1s ease-out;
  grid-column: 1/-1;
  max-height: 0;
  position: relative;
  height: 0;
  
  li[class^='contentItem-'] {
    display: none;
    height: 100%;
  }
  
  &.show {
    animation: frame .5s ease-out forwards;
    grid-row: 2 /3;
    height: 100%;
    overflow: hidden;
    max-height: 3000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    [class^='placeholder']{
      background-size: 160%;
    }
    @media only screen and (min-width: 64em){
      max-height: 1000px;
    }
    &.show-layout {
      .contentItem-layout {
        display: grid;
      }
      
      .placeholder1 {
        background-image: url('../images/works/spines1.png');
      }
      .placeholder2 {
        background-image: url('../images/works/cdr2.jpg');
      }
    }
    
    &.show-css {
      .contentItem-css {
        display: grid;
      }
      
      .placeholder {
        background-image: url('../images/works/modular.png');
      }
    }
    
    &.show-ui {
      .contentItem-ui {
        display: grid;
      }
      
      .placeholder1 {
        background-image: url('../images/works/spines2.png');
      }
      .placeholder2 {
        background-image: url('../images/works/spines6.png');
      }
    }
    
    &.show-rwd {
      .contentItem-rwd {
        display: grid;
      }
      
      .placeholder1 {
        background-image: url('../images/works/responsive-group.png');
      }
    }
    
    &.show-music {
      .contentItem-music {
        display: grid;
      }
      
      .placeholder {
        background-image: url('../images/works/traginer1.jpg');
      }
      .is-music{
        @media only screen and (max-width: 48em){
          grid-column: 1/-1;
        }
      }
    }

    &::before{
      content: '';
      clip-path: circle(60% at 0 0);
      position: absolute;
      display: block;
      background: $darkred;
      mix-blend-mode: soft-light;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  
  .close {
    color: white;
    font-size: .75em;
    position: absolute;
    right: $component-space;
    top: $component-space;
    padding-right: $component-space-small;
    z-index: 999;
  }
  
  .showFeatureItem {
    padding: 3rem 2rem;
    opacity: 0;
    animation: frameItem .5s ease-out 1s forwards;
    background: $accent;
    border-top: 2px solid rgba(var(--dark-a), .025);
    border-bottom: 2px solid rgba(var(--dark-a), .025);
    position: relative;
    will-change: opacity, scroll-position;
    &::before{
      content: '';
      position: absolute;
      width: 50%;
      margin: 0 auto;
      height: 1px;
      transform: translateX(50%);
      top: -2px;
      box-shadow: 0 7px 40px 1px rgba(var(--dark-a), .5);
      z-index: 1;
    }
    > ul{
      margin-bottom: $component-space;
    }  
    li {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      column-gap: $component-space-small;
    }
    .link{
      color: $darkred;
      &:hover{
        color: white;
      }
    }
  }
  
  @keyframes frame {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }
  
  @keyframes frameItem {
    0% {
      opacity: 0;
      scale: 0;
    }
    
    100% {
      opacity: 1;
      scale: 1;
    }
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }
}


.question{
  position: relative;
  top: -$component-space-small;
  padding: $component-space 0 0;
}

_::-webkit-full-page-media, _:future, :root .showFeature::before {
  display: none;
}