// ---------------------------------------------
// Bloque principal: Skills
// Estilos para la sección de habilidades.
// Incluye layout, tipografía y elementos visuales.
// ---------------------------------------------
@use '../abstracts/' as *;

.skills{
  &::after{
    background: none;
  }
  .me{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    span{
      display: block;
      margin: 0 auto;
      text-align: center;
      max-width: 100%;
    }
    img{
      max-width: 65%;
    }
  }
  &-nav{
    align-self: normal;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 4 / 6;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    @media only screen and (min-width: 48em){
      align-self: initial;
      width: auto;
    }
    h2{
      text-align: center;
    }
    nav{
      width: 100%;
    }
    .itemNav{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      list-style: none;
      margin: $component-space auto 0;
      @media only screen and (min-width: 48em){
        grid-template-columns: 1fr repeat(5, 7.5em) 1fr;
        grid-template-rows: min-content minmax(150px, max-content) min-content;
      }
    }
    [class^='item-']{
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      position: relative;
      padding: $component-space 0;
      will-change: transform, top;
      a{
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        min-height: 60px;
        text-decoration: none;
        position: relative;
        width: 100%;
        &.is-active p{
          color: $blue;
        }
      }
      p{
        @extend .h4;
        color: $dark;
        position: relative;
        transition: 3s all ease-out;
        top: $component-space;
      }
      &:hover{
        .img-mask{
          top: -$component-space-small;
        }
        .img-item{
          filter: blur(2px);
          opacity: .15;
          transform: translateY(-$component-space-small);
        }
        p{
          color: $darkred;
        }
      }
      .img-item{
        height: 60px;
        filter: blur(0);
        transform: translateY(0);
        transition: 1s all ease-out;
        position: relative;
      }
      .img-mask{
        display: block;
        width: 100%;
        height: 60px;
        background: url('../images/feature-mask.png') no-repeat center;
        background-size: contain;
        position: relative;
        top: -$component-space;
        transition: .5s all ease-out;
      }
    }
    .item-layout{
      @media only screen and (min-width: 48em){
        grid-column: 2 / 3;
      }
    }
    .item-responsive{
      @media only screen and (min-width: 48em){
        grid-column: 4 / 5;
      }
    }
    .item-css{
      @media only screen and (min-width: 48em){
        grid-column: 6 / 7;
      }
    }
    .item-ui{
      @media only screen and (min-width: 48em){
        grid-column: 3 / 4;
      }
      .img-item{
        max-width: 75px;
      }
    }
    .item-music{
      grid-column: 1 / -1;
      @media only screen and (min-width: 48em){
        grid-column: 5 / 6;
      }
    }
  }
}