<div class="contentItem-text">
  <div class="contentItem-header">
    <h3>Modular CSS</h3>
  </div>
  <p>
    I love CSS, in fact is one of my core specialties, but
    often in this industry CSS are underestimated and
    minimized its importance, but is a critical skill and a
    powerful tool to make your product shine above the rest,
    and many times it can reduce the excesive use - and
    abuse - of javascript, so common everywhere these days.
  </p>
  <p>I focus style architecture with a
    <strong>progressive enhancement</strong>
    strategy, meaning emphasizing core
    web
    content first and then progressively add more
    nuanced and
    technically rigorous layers of presentation and
    features on
    top of the content as the end-user's
    browser/internet
    connection allow.</p>
  <p>All this is possible by several methods of
    feature
    detection,
    so older browsers still in use today will be able to
    access
    and navigate thru all your content, whilst modern
    browsers
    can go the full experience and enhance a user's time
    spent
    on your site.</p>
  <p class="h5 all-span">
    <strong>I love CSS</strong> always learning and
    keeping myself up to date.</p>

  <p>My approach for CSS is build stand-alone
    <strong>components or modules</strong>
    that can work independently of their original building
    context using SMACSS or BEM
    philosophy allowing me to create a <strong>true
      modular</strong>, reusable,
    encapsulated and scalable styles.</p>
  <p>Sass is my preprocessor of
    choice to
    build faster, more efficient code as well as Postcss and
    other tools to optimize speed and minimize the code
    footprint. Also I always try to apply latest css
      core native
      features (like
    custom properties) when possible to deliver the best
    solution for
    sites and web apps of all sizes and needs.
  </p>
</div>
