<div class="contentItem-text">
  <div class="contentItem-header">
    <h3>Music composer</h3>
  </div>
  <p>I'm a classic trained musician, I started playing
    piano
    since the age of 5, then as I grew up I switch my attention to rock/pop and EDM styles and played in several bands thru the
    years.</p>
    <p>
    About ten years ago, I switch my interest in
    selling my music online, so I became a stock music
    composer and publish my
    music in different stock markets and music libraries around the globe for commercial licensing (with my alias <strong>'SonicByte'</strong>) that can be used in advertisment, films, documentaries, etc.
  </p>
  <p>These are some of the libraries I currently sell my music:</p>
  <ul>
    <li><a class="link" href="https://audiojungle.net/user/sonicbyte"
        target="_blank">AudioJungle</a></li>
    <li><a class="link" href="">Pond5</a></li>
    <li><a class="link" href="">V-fine</a> </li>
    <li><a class="link" href="">123rf.com</a class="link"> </li>
  </ul>
  <p>
    Also some of my
    music is
    available for casual listen in Spotify, ITunes, etc.
  </p>
</div>
<div class="contentItem-video is-music">
  <iframe width="100%" height="166" scrolling="no"
    frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/619064223&color=%23d2486f&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <iframe width="100%" height="166" scrolling="no"
    frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/351193621&color=%23d2486f&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <iframe width="100%" height="166" scrolling="no"
    frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/298186273&color=%23d2486f&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>
