<div class="contentItem-text">
  <div class="contentItem-header">
    <h3>Responsive Web Design</h3>
  </div>
  <p>I work with a <strong>mobile first</strong>
    philosophy to ensure shiping a
    better, faster, tailor-made experience that will
    work from
    the smallest mobile screen thru a big large 4k
    screen or
    whatever comes in the future.</p>
    <p class="h5 all-span">Building great <strong>mobile</strong> experiences</p>
  <p>
    Most people will access your web from a mobile device at
    some point, that's a fact, so it's extremely important a
    well thought, responsive, adaptive website to ensure
    engage your visitors no matter from what device or browser
    they access your site.</p>
  <p>I have plenty experience building responsive sites but
    also fixing poor coded responsive sites or transform old
    ones into mobile-ready sites.</p>
  <p>Always looking for maximun compatiblity and optimized to
    work with any browser or screen resolution.</p>
</div>
<div class="placeholder placeholder1">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
