<div class="contentItem-text">
  <div class="contentItem-header">
    <h3>UI Design</h3>
  </div>
      <p>I like to create and build effective and beautiful
        user interfaces,
        micro-interactions, animations, transitions,
        etc.
      </p>
      <p>Although
        I'm not a trained designer I always had
        a good eye for UI design.</p>
        <p><strong>Always learning</strong>, improving, keen to new trends
        and work hard
        to help improve users
        experience
        using best design patterns in all stages of
        the
        product.</p>
      <p>I use Sketch, Figma and Photoshop.</p>
</div>
<div class="placeholder placeholder1">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <ul class="subMenu">
    <li><a href="#" class="is-active">Sample 1</a></li>
    <li><a href="#">Sample 2</a></li>
  </ul>
</div>
