$component-space: 1.5rem;
$component-space-small: 1rem;
$component-space-tiny: .5rem;
:root{
  --xpos: 0;
  --ypos: 0;
  --data-what: -20rem;
  --data-about: -10rem;
  --data-works: -5rem;
  --data-contact: 0;
  --deco-width: #{rel(1636px)};
}

.animatable {
  opacity: 0;
}

@keyframes top {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to  {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to  {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes right {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to  {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes left {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to  {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes card {
  0% {
    transform: translate(-350px, 50px) rotate(250deg) scale(1.5);
    opacity: 0;
  }
  50% {
    transform: translate(inherit, 50px) rotate(320deg) rotateY(135deg) scale(inherit);
    opacity: .5;
  }
  100%  {
    transform: translate(0, 0) rotate(0) scale(inherit);
    opacity: 1;
  }
}
